<a 
    style="cursor: pointer;"
    class="card d-flex flex-row justify-content-between p-3"
    style="min-width: 18rem; margin-top: 16px;">
    <div class="d-flex flex-column align-items-start">
        <h4 class="">
            {{ dataRecipe.name }}
        </h4>
        <span class="">{{ dataRecipe.decription }}</span>
    </div>
    <span class="d-flex">
        <img [src]="dataRecipe.imagePath[0]" alt="{{ dataRecipe.name }}" class="img-responsive" style="max-height: 100px">
    </span>
</a>