<div class="row">
    <div class="col-xs-12" *ngFor="let img of recipeItem.imagePath">
        <img [src]="img" alt="{{ recipeItem.name }}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ recipeItem.name }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button class="btn btn-info dropdown-toggle">
                Manage Recipe
                <span class="carret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="addIngredientsBulk()" style="cursor:pointer;">Add to Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ recipeItem.decription }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li
            *ngFor="let ingredient of recipeItem.ingredients" 
            class="list-group-item"
            >{{ ingredient.name }} - {{ ingredient.amount }} </li>
        </ul>
    </div>
</div>
