<nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #e3f2fd;">
    <a href="#" class="navbar-brand"> <img class="logo" src="../../assets/logo.svg" width="30" height="30" alt="">&nbsp;&nbsp;Recipe Book</a>
    <button class="nav-btn navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" (click)="isCollapsed = !isCollapsed" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"  id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Recipes</a>
            <a class="nav-item nav-link" href="#">Shopping List</a>
        </div>
        <div class="nav navbar-nav ml-auto">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" role="button">Manage <i class="carret"></i></a>
                <div class="dropdown-menu">
                    <a class="nav-item nav-link" href="#">Save data</a>
                    <a class="nav-item nav-link" href="#">Fetch data</a>
                </div>
            </div>
        </div>
    </div>
</nav>  
